<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .btn-box{
        background-color: lightgrey;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;	
    }
</style>
<body style="background-Image:url(https://clipground.com/images/children-drawing-clipart-17.jpg)">
    <h1 align="center">DETAILS OF THE PERSON</h1> <br>
    <div class="btn-box">
        <h3> FIRST NAME - {{fname}} </h3>
        <h3>LAST NAME - {{lname}}</h3>
        <h3> EMAIL - {{email}} </h3>
        <h3> SCORE - {{score}} </h3>
    </div>    
</body>
</html>