{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-Image:url(https://img.freepik.com/free-vector/abstract-background_53876-43362.jpg?w=2000)">
   <h1 align = "center">THANK YOU FOR PLAYING THIS GAME</h1>
   <h4>IF YOU WANT TO SIGNOUT </h4>
   <a href="/signout"><button type = "submit">sign out</button></a>
    <h4> IF YOU WANT TO VISIT YOUR ACCOUNT</h4>
    <a href="/account/"><button type = "submit">ACCOUNT</button>
</body>
</html>