<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .btn-box{
        background-color: lightgrey;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;	
    }
</style>
<body style="background-Image:url(https://media.istockphoto.com/id/1355735549/photo/treasure-hunting-and-archaeological-research.jpg?b=1&s=170667a&w=0&k=20&c=aMP6TBTJyL9aPy4p8OndDlB3Kaua16DGMqR9BJ7fCZY=)">
    <div class="btn-box" style="text-align: center;margin: auto;
    width: 60%;">
        {% for message in messages  %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Message</strong>{{message}}
                <button type="button" class="close" data-dismis="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <h1>SIGN IN PAGE</h1>
        <form action="/signin" method="post">
            <label for="">Enter the username</label>
            <input type="text" id = "username" name="Username" placeholder="Username"><br>
            <label for="">Enter the password</label>
            <input type="password" id = "password" name="password" placeholder="Password"><br>
            {% csrf_token %}
            <br>
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>